body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    color: #333;
}
h1 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #FFD700;

}
header {
    background-color: #FF4500;
    color: white;
    padding: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #FF4500;
    margin-bottom: 1rem;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.project-overview {
    display: flex;
    gap: 2rem;
}

.project-overview .content {
    flex: 2;
}

.project-overview .image {
    flex: 1;
}

.project-overview img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Key Features Section Styling */
.features {
    padding-left: 2rem;
}

.features ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.features h2 {
    margin-left: 1.5rem;
}
.technology {
    padding-left: 2rem;  /* Moves the whole section slightly to the left */
}

.technology ul {
    list-style-type: disc;
    margin-left: 1.5rem; /* Adjusts the margin to align the bullet points */
}

.technology h2 {
    margin-left: 1.5rem;  /* Aligns the section heading with the bullet points */
}
/* Button styling */
.view-project-btn {
    padding: 0.7rem 1.5rem;
    background-color: #FF4500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.view-project-btn:hover {
    background-color: #FFA500;
}

.view-project-btn:active {
    background-color: #FFA500;
}

/* Centering the button and adding space at the bottom */
.view-project {
    text-align: center;
    margin-top: 3rem; /* Adds space above the button */
    margin-bottom: 4rem; /* Adds space below the button before the footer */
}


footer {
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Complete */