<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <h1 class="has-text-weight-bold">About Me</h1>
</header>
    <main>
        <section class="section">
            <div class="container">
                <p class="content is-medium">
                    <strong>Hi, I’m Sreehari!</strong> I’m a Computer Science student at Leeds Beckett University, currently in my penultimate year.
                    I’m passionate about creating impactful projects that solve real-world challenges. My skills span across multiple
                    programming languages, including Python, Java, and C#, as well as web frameworks like Django, Flask, and .NET.
                    I have experience building applications that incorporate database management, API integration, and automation.
                </p>
                <p class="content is-medium">
                    When I’m not coding, I enjoy exploring new technologies and enhancing my problem-solving skills.
                    My portfolio showcases a range of projects, from web applications to desktop programs, each reflecting
                    my dedication to learning and applying my knowledge. I am actively seeking summer internship opportunities
                    to apply my knowledge, gain practical experience, and contribute to innovative projects.
                </p>
            </div>
        </section>
    </main>
<section id="projects">
    <div class="project">
        <button class="button is-large is-fullwidth" onclick="window.location.href='/portfolio'">
            <h2 class="has-text-centered">View Projects</h2>
        </button>
    </div>
</section>
<section class="section has-text-centered">
    <div class="content">
        <h2>Contact Me</h2>
    <p><strong>Email:</strong> akc.sreehari@gmail.com</p>
    <p>
        <a href="https://www.linkedin.com/in/sreehari-anukumar/" target="_blank">
           My LinkedIn
        </a>
    </p>
    <p>
        <a href="https://github.com/Sreehari05055" target="_blank">
            My GitHub
        </a>
    </p>
    </div>
</section>
</body>
</html>