<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV & Cover Letter Enhancement Tool</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
        <h1 class="has-text-weight-bold">CV & Cover Letter Enhancement Tool</h1>
    </header>

    <section class="project-overview">
        <div class="content">
            <h2>Overview</h2>
            <p>
            A straightforward yet powerful tool for enhancing resumes and cover letters, it simplifies the process of enhancing application materials tailored to users needs, whether they are starting their career journey or aiming for the next big opportunity.
            </p>
        </div>

    </section>

    <section class="features">
        <h2>Key Features</h2>
        <ul>
            <li><strong>AI-driven customization:</strong> Powered by GPT-4 Turbo: It is the engine behind the platform's ability to generate, analyze, and interact with content in a meaningful way.</li>

        </ul>
    </section>

    <section class="technology">
        <h2>Technologies Used</h2>
<ul>
    <li><strong>Programming Language:</strong> Python, HTML/CSS, JavaScript</li>
    <li><strong>Framework:</strong> Django</li>
    <li><strong>Libraries:</strong> OpenAI (GPT-4 Turbo)</li>
    <li><strong>Database:</strong> SQLite</li>
    <li><strong>Integration:</strong> Email notifications for password reset</li>
</ul>
    </section>

   <section class="challenges">
    <h2>Challenges & Solutions</h2>
    <p>
       One of the primary challenges was crafting effective prompts for the GPT engine and ensuring the corpus for CVs and cover letters was accurate, well-structured, and aligned with the correct format for each.
    </p>
</section>
 <section class="view-project has-text-centered">
    <p class="has-text-weight-semibold">
        To view the project
        <a href="https://c366sree.pythonanywhere.com/" target="_blank" >
            Click Here
        </a>
    </p>
</section>
    <footer>
        <p>&copy; 2024 My Portfolio. All rights reserved.</p>
        <p>Designed and developed by Sreehari Anukumar.</p>
        <p> <a href="https://github.com/Sreehari05055/finalProject.git" target="_blank">View Source(CV & Cover Letter Enhancement Tool) on GitHub</a>
    </footer>
</body>
</html>